@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6 class="display-4 text-black-50 ">
 <span class="GlassBackGround">  B     
                                 o     
                                 o     
                                 k     
                                 e     
                                 r     </span>
                              <br/> 
 <span class="GlassBackGround">  Y    
                                 o    
                                 u    
                                 r     </span> &nbsp;
 <span class="GlassBackGround">  E    
                                 q    
                                 u    
                                 i    
                                 p    
                                 m    
                                 e    
                                 n    
                                 t     </span>&nbsp; <br/>
 <span class="GlassBackGround">  B     
                                 o     
                                 o     
                                 k     
                                 i     
                                 n     
                                 g     </span> &nbsp;
 <span class="GlassBackGround">  H    
                                 e    
                                 l    
                                 p    
                                 e    
                                 r     </span>
    </h6>
    <img src="~/Images/PenBookGlassesPhone.jpg" class="glassBackground" style="width:300px; height:200px;" />
    
</div>
