html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("/Images/main_background.jpg");
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-attachment: fixed; /* Keeps the background image fixed during scroll */
    background-position: center center; /* Centers the image */
}


/** Glass styling class Start**/
.glassBackground {
    block-size: fit-content;
    background: rgba(255, 255, 255, 0.2); /* Transparent white */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border-radius: 15px;
    padding: 5.5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.GlassBackGround {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 0.1px 7.2px;
    margin: 2px;
    display: inline-block;
}
/** Glass styling class End**/


/** form alignment and sizing start **/
.formAlignment 
{
    margin-left: 280px;
    margin-top: 50px;
}

.formSizing
{
  width:590px;
}
/** form alignment and sizing end **/


/** Editing Look of dropdown list items start **/
/*setect option {
    block-size: fit-content;
    background: rgba(255, 255, 255, 0.2);*/ /* Transparent white */
    /*backdrop-filter: blur(10px);*/ /* Frosted glass effect */
    /*-webkit-backdrop-filter: blur(10px);*/ /* Safari support */
    /*border-radius: 15px;
    padding: 5.5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}*/
/** Editing Look of dropdown list items end **/


